@model IEnumerable<GapShoes.Models.Stores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">    
    <table class="table table-condensed table-bordered table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Stores",new { id=item.StoreID })" title="Edit"><span class="fa fa-edit fa-2x"></span></a>
                </td>
                <td>
                    <a href="@Url.Action("Delete","Stores",new { id=item.StoreID })" title="Delete"><span class="fa fa-times fa-2x"></span></a>
                </td>                
            </tr>
        }
    </table>
    <br />
    <a href="@Url.Action("Create","Stores")" class="btn btn-fill btn-info">Create Store</a>
</div>

